@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


/* ********************

 BASE

 ******************** */
*, *:before, *:after {
    outline: none;
    box-sizing: inherit;
}
html {
    width: 100vw;
    height: auto;
}

body#container-home {
  margin: 0;
  width: 100vw;
  background:#333;
  color:#f1f1f1;
}
body {
  padding: 0;
  margin: 5vh auto;
  width: 90vw;
  height:auto;
  color: #444;
  font-size: 1em;
  line-height: 2em;
  scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brutes */
  overflow-x: hidden;
  font-family: 'Nunito', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background: #d6d6d6;
}
#page-container {
    -moz-box-shadow: -30px 30px 8px -18px #bbb;
    -webkit-box-shadow: -30px 30px 8px -18px #bbb;
    -o-box-shadow: -30px 30px 8px -18px #bbb;
    box-shadow: -30px 30px 8px -18px #bbb;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#bbb, Direction=224, Strength=8);
    background: #fff;
}

#container-home header, body #header {
  min-height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #header {
  background:#333;
  color:#f1f1f1;
  display: flex;
  flex-direction: column;
  height: 70vh;
}
#header #left, #header #right {
  width: 100%;
  height: 100%;
}
#header #right {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #6534FF;
  font-size: 4vmin;
  line-height: 8vmin;
}
#header #left {
  background: url('../../public/img/topo-jaune.svg'),
  url('https://sebastiensenechal.com/vendors/img/abstract.jpg'),
  linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-position: left, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

#container-home main {
  display: flex;
  /* flex-direction: row-reverse; */
  min-height: 100vh;
  padding: 0;
}

body main {
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  padding: 1em 2em 1em 1em;
}



/* ********************

 TYPOGRAPHY

 ******************** */
 a {
   color: rgb(68, 68, 68);
   text-decoration: underline;
 }
 a:hover {
   color: rgb(1, 191, 178);
 }
 a:visited {
   color: rgb(100, 100, 100);
 }
.material-icons.md-cyan {
  color:  rgba(24, 255, 255, 1);
}
.material-icons.md-36 {
    font-size: 36px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #FCE4EC;
}
h1#title-site {
  font-size: 8vmin;
  line-height: 10vmin;
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
#right a:visited {
  color:#FCE4EC;
}



/* ********************

 LAYOUT

 ******************** */
section#map-infos {
  width: 30%;
}
div#map, div#mapid {
  width: 100%;
  height: 93.5vh;
  z-index: 0;
}
main header#header-content {
  padding: 2em 0;
  background-color: transparent;
  color:inherit;
  text-align: left;
  color: rgb(68, 68, 68);
}
#post-content #header-content h1 {
  padding: 0;
  color: rgb(68, 68, 68);
}
#left > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  text-align: center;
}
#content {
  margin: 2em auto;
  width: 70vw;
}
section {
  margin: 1em auto;
  width: 70vw;
}
.form-center {
  margin: auto;
  width: 70vw;
}


/* ********************

 NAVIGATION

 ******************** */
/* Main navigation */
nav#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  font-size: .9em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
nav#nav li {
  width: 100%;
}
nav#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}
nav#nav li a:hover:not(.active) {
  background-color: #111;
}
nav#nav li a i {
  font-size: 28px;
  position: relative;
  vertical-align: bottom;
}
nav#nav li span {
  display:inline-block;
}
nav#nav .active {
  background-color: #01bfb2;
  color: #ffffff;
}

ul.list-meta {
  list-style: none;
  padding-left: 0;
  display: flex;
}
ul.list-meta li {
  margin-right: 1em;
}

ul.pagination {
  list-style: none;
  display: flex;
}
ul.pagination li {
  margin: 0 .5em;
}
ul.pagination li.active {
  background-color: #01bfb2;
  color:#fff;
}
ul.pagination li a {
  padding: 1em;
}


#nav ul li.deroulant {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
#nav .sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
#nav > ul li:hover .sous{
    display: block;
    position: fixed;
}
#nav ul.sous li {
  display: flex;
  flex-direction: column;
  width:100%;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}


/* Navigation toolbar */
nav#toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: .6em;
  font-weight: 600;
  justify-content: space-between;
}
nav#toolbar li {
  width: 25%;
}
nav#toolbar li a, nav#toolbar li#find-me {
  color:white;
  text-align: center;
  padding: 2em 1em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}
nav#toolbar li a:hover:not(.active), nav#toolbar li:hover:not(.active) {
  background-color: #111;
}
nav#toolbar .active {
  background-color: #01bfb2;
  color: #ffffff;
}
#status {
  display:none;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 9999;
  background: #ffffff;
  color: #000;
  width: 20%;
  height: 10vh;
}

/* Navigation footer - mentions légales */
#page-container > footer {
  border-top: 1px solid #ccc;
  padding: 1em 2em 1em 1em;
}
#page-container nav#legal ul {
  list-style: none;
  padding-left: 1em;
}


/* COMPOSENTS */

input, button, input[type="file"] {
	outline: none !important;
}
input[type="submit"], input[type="file"] {
  cursor: pointer;
}
input[type="submit"]:hover, input[type="file"]:hover {
  background: #01bfb2;
  color: #fff;
}
input {
	border: none;
}
textarea {
  border: 1px solid #ccc;
}
input, textarea {
  border-bottom: 2px solid #01bfb2;
	width: 100%;
	font-family: 'Nunito Sans', Verdana, sans-serif;
	color: #333;
  font-size: 1em;
  margin-bottom: 2em;
  padding: 1em .2em;
}
::-webkit-input-placeholder {
   color: #333;
	font-family: 'Nunito Sans', Verdana, sans-serif;
	font-weight:100;
}

:-moz-placeholder {
   color: #333;
	font-family: 'Nunito Sans', Verdana, sans-serif;
	font-weight:100;
}

::-moz-placeholder {
   color: #333;
	font-family: 'Nunito Sans', Verdana, sans-serif;
	font-weight:100;
}

:-ms-input-placeholder {
   color: #333;
	font-family: 'Nunito Sans', Verdana, sans-serif;
	font-weight:100;
}
.hidden {
   position: absolute !important;
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   overflow: hidden;
   width: 1px;
}
.checkbox label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: baseline;
  align-items: baseline;
}
.checkbox input {
  width: auto;
}

#header-content form {
  display:inline-block;
}
form .btn-inline {
  padding: 0;
  background: none;
  color: rgb(68, 68, 68);
  text-align: left;
  margin-bottom: 0;
  border: 0;
  font-family: inherit;
  text-decoration: underline;
  width: auto;
  display: inline-block;
}
#header-content form .btn-inline:visited {
  color: rgb(100, 100, 100);
}
form .btn-danger:hover {
  background: red;
  color: #fff;
}


@media (orientation: landscape) and (min-width: 960px) {
  /* Tablet */
  body #header {
    flex-direction: row;
  }
  #header #left, #header #right {
    width: 50%;
  }
  nav#nav ul {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  nav#nav li {
    width: 25%;
  }
  nav#nav li span {
    display:inline-block;
  }
}



@media (min-width: 480px) and (max-width: 959px) {
  /* Tablet */
  nav#nav ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  nav#nav li {
    width: 25%;
  }
  nav#nav li span {
    display:none;
  }
}


@media (min-width: 960px) and (max-width: 1279px) {
  /* Tablet and small screen */
  nav#nav ul {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  nav#nav li span {
    display:inline-block;
  }
}


@media (min-width: 1919px) and (max-width: 2559px) {
  /* Medium and large screen */
}


@media (min-width: 2560px) {
  /* HD 4K device */
}


@media print {
  /* Print */
}
