@charset "utf-8";

body {
  padding: 0;
  margin: 5vh 3vw 5vh 3vw;
  width: 93vw;
  height:auto;
  color: #444;
  font-size: 2.5vmax;
  line-height: 3vmax;
  scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brutes */
  overflow-x: hidden;
  font-family: 'Nunito', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background: #fff;
}

#app {overflow-x: hidden;}
#page-container {
    -moz-box-shadow: -30px 30px 8px -18px #bbb;
    -webkit-box-shadow: -30px 30px 8px -18px #bbb;
    -o-box-shadow: -30px 30px 8px -18px #bbb;
    box-shadow: -30px 30px 8px -18px #bbb;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#bbb, Direction=224, Strength=8);
    background: #fff;
}

.base-page header {
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

body main {
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    margin: 4em auto;
}

body #header {
    background:#333;
    color:#f1f1f1;
    display: flex;
    flex-direction: column;
    height: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding: 1em;
    margin: 2em 0;
}

article > header {
    /* border-bottom: 1px solid #666; */
}


a {
    /* color: #02ffac; */
    text-decoration: none;
    background-color: transparent;
    text-decoration: underline;
}
a:hover, a:visited:hover {
    /* color: #02ffac; */
    text-decoration: none;
}
a:visited {
    /* color: #77ffd3; */
}

.btn {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0;
  text-decoration: none;
  background: linear-gradient(222deg, #6534ff, #d30fff);
  background-size: 400% 400%;
  animation: AnimationName 22s ease infinite;
  @keyframes AnimationName {
      0%{background-position:86% 0%}
      50%{background-position:15% 100%}
      100%{background-position:86% 0%}
  }
}
.list-btn {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.list-btn li {
    margin-right: 0;
    margin-top: 1em;
}

section.base-page {
  width: 80vw;
  margin: 0 auto;
  flex-direction: column;
}

section.duo {
  flex-direction: column;
}
section.duo aside {
  width: 40%;
}
section.duo article {
  padding: 0;
  margin: 0;
}

#mapid {
    height: 300px;
}


/* Fil d'ariane */
 #breadcrumb  {
  display: none;
}

.notification {
    width: 100%;
    padding: .5em 1em;
    border-left: 4px solid #F86A53;
}
.is-success {
    background: #9C21FF;
    color: #fff;
}



/* ********************

 RESPONSIVE

 ******************** */
@media (orientation: landscape) and (min-width: 960px) {
  /* Tablet */
  body {
    font-size: 1.5vmax;
    line-height: 2vmax;
  }
  body, .navbar-brand {
      font-size: 1.5vmax;
  }
  #page-container {
    width: 80vw;
  }
  section {
    flex-direction: row;
    justify-content: space-around;
  }
  section.base-page {
    width: 80vw;
  }
  section.duo {
    flex-direction: row;
  }
  article {
    width: 40%;
  }
  .list-btn {
      flex-direction: row;
  }
  .list-btn li {
      margin-right: 1em;
      margin-top:0;
  }
  #breadcrumb ol {
    flex-direction: row;
  }
  #breadcrumb li:first-child::before {
    content: "";
    margin: 0;
  }
}


@media (max-width: 959px) {
    .table thead {
        display: none;
    }
    .table tr{
        display: block;
        margin-bottom: 40px;
    }
    .table td {
        display: block;
    }

    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    .table th, .table td {
        border-top: 0;
    }
}


@media (orientation: landscape) and (min-width: 480px) and (max-width: 959px) {
  /* Tablet */
  section.base-page {
    width: 70vw;
  }
}

@media (orientation: portrait) and (min-width: 480px) and (max-width: 959px) {
  /* Tablet */
  body, .navbar-brand {
      font-size: 2vmax;
  }
}


@media (min-width: 960px) and (max-width: 1279px) {
  /* Tablet and small screen */
  body {
    font-size: 1.5vmax;
    line-height: 2vmax;
  }
}


@media (min-width: 1919px) and (max-width: 2559px) {
  /* Medium and large screen */
  body {
    font-size: 1vmax;
    line-height: 2vmax;
  }
}


@media (min-width: 2560px) {
  /* HD 4K device */

}
