@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');



/* ********************

 BASE

 ******************** */
*, *:before, *:after {
    outline: none;
    box-sizing: inherit;
}
html {
    width: 100vw;
    height: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height:auto;
  color: #444;
  font-size: 20px;
  line-height: 30px;
  scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brutes */
  overflow:hidden;
  font-family: 'Nunito Sans', Verdana, sans-serif;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
